<div id="title" class="grid_12 alpha omega">
  <p class="title green">create new account</p>
</div>
<div class="beigeline grid_12 alpha omega"></div>
<div id="signupfacebook" class="grid_6 alpha">
  <p class="top">Sign up via your facebook account!</p>
  <p>&nbsp;</p>
  <p>Friday Laundry will not interfere with your Facebook wall or draw personal details from your Facebook account for any purpose. You can choose to keep your identity private on Friday laundry.</p>
  <p class="bottom">&nbsp;</p>
  <div id="fb-root"></div>
  <div class="fb-login-button">Connect</div>
</div>
<div id="login" class="grid_4 omega">
  <p class="title green">or log in</p>
  <%= form_tag("/login", :method => "post") do %>
    <p>Username:</p>
    <%= text_field_tag(:email) %><br />
    <p id="password">Password:</p>
    <p id="forgotpassword"><a href="#" class="green">Forgot Password?</a></p>
    <%= text_field_tag(:password) %><br />
    <%= submit_tag("Log In") %>
  <% end %>
</div>
<div id="signupemail" class="grid_6 alpha">
  <p>Sign up with my email address.</p>
  <%= form_tag("/createuser", :method => "post") do %>
  <table>
    <tr>
      <td><%= text_field_tag(:email) %></td>
      <td><%= submit_tag("I'm In!") %></td>
    </tr>
  </table>
  <% end %>
</div>
