<header class="grid_12">
	<div id="aboveline">
	  <%= image_tag "logo.png" %>
	  <div id="loginnav">
		<div id="joinus" class="menu"><a href="/signup"><font>Join us!</font><br><p>Not a member yet?</p></a></div>
		<div class="menu"><a href="#">Sign in<%= image_tag "greendownarrow.png" %></a></div>
	  </div>
	  <div id="usernav">
	  </div>
	</div>
	<div class="greenlineacross"></div>
	<!-- Main Navbar -->
	<nav id="sitenav">
	  <ul>
		<li><%= image_tag "women_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li><%= image_tag "men_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li id="general">
		  <div class="menu first last"><a href="#"><%= image_tag "yellowdownarrow.png" %>General</a></div>
		</li>
		<li id="viewcart">
		  <div class="menu">
		  <div id="whitetriangle"></div>
		  <a href="#"><%= image_tag "greendownarrow.png" %>My Friday Laundry</a></div>
		</li>
	  </ul>
	</nav>
</header>