<!DOCTYPE html>
<html>
<head>
  <title>Friday</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- CONTAINER -->
<div id="container" class="container_12">
  <!-- HEADER -->
  <header class="grid_12">
	<div id="aboveline">
      <%= image_tag "logo.png" %>
	  <div id="loginnav">
		<div id="right" class="menu"><a href="#"><font>Join us!</font><br><font id="link">Not a member yet?</font></a></div>
	    <div class="menu"><a href="#">Sign in<%= image_tag "greendownarrow.png" %></a></div>
	  </div>
	  <div id="usernav">
	  </div>
	</div>
	<div id="line"></div>
	<!-- Main Navbar -->
	<nav id="sitenav">
	  <ul>
	    <li><%= image_tag "women_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li><%= image_tag "men_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li id="general">
		  <div class="menu first last"><a href="#"><%= image_tag "yellowdownarrow.png" %>General</a></div>
		</li>
		<li id="viewcart">
		  <div class="menu">
		  <div id="whitetriangle"></div>
		  <a href="#"><%= image_tag "greendownarrow.png" %>My Friday Laundry</a></div>
		</li>
	  </ul>
	</nav>
  </header><!-- END OF HEADER -->
  
  <div id="main" class="grid_12">
  <%= yield %>
  </div>
  
  <!-- FOOTER -->
  <footer class="grid_12">
  <div id="footer">
  </div>
  <div id="copyright">
    &copy; copyright FridayLaundry 2011
  </div>
  </footer><!-- END OF FOOTER -->
</div><!-- END OF CONTAINER -->
</body>
</html>
