<!DOCTYPE html>
<html>
<head>
  <title>Friday Laundry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- CONTAINER -->
<div id="container" class="container_12">
  <!-- HEADER -->
  <header class="grid_12">
	<div id="aboveline">
      <%= image_tag "logo.png" %>
	  <div id="loginnav">
		<div id="joinus" class="menu"><a href="/signup"><font>Join us!</font><br><p>Not a member yet?</p></a></div>
	    <div class="menu"><a href="#">Sign in<%= image_tag "greendownarrow.png" %></a></div>
	  </div>
	  <div id="usernav">
	  </div>
	</div>
	<div class="lineacross"></div>
	<!-- Main Navbar -->
	<nav id="sitenav">
	  <ul>
	    <li><%= image_tag "women_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li><%= image_tag "men_icon.png" %></li>
		<li>
		  <div class="menu first"><a href="#"><%= image_tag "yellowdownarrow.png" %>Apparel</a></div>
		  <div class="menu"><a href="#"><%= image_tag "yellowdownarrow.png" %>Accessories</a></div>
		  <div class="menu last"><a href="#"><%= image_tag "yellowdownarrow.png" %>Beauty</a></div>
		</li>
		<li id="general">
		  <div class="menu first last"><a href="#"><%= image_tag "yellowdownarrow.png" %>General</a></div>
		</li>
		<li id="viewcart">
		  <div class="menu">
		  <div id="whitetriangle"></div>
		  <a href="#"><%= image_tag "greendownarrow.png" %>My Friday Laundry</a></div>
		</li>
	  </ul>
	</nav>
  </header><!-- END OF HEADER -->
  
  <div id="main" class="grid_12">
  <%= yield %>
  </div>
  
  <!-- FOOTER -->
  <footer class="grid_12">
  <div id="footer">
	<div id="footer_container">
	  <div id="news" class="grid_4">
		<p class="title">news</p>
		<div class="line"></div>
		<ul>
		  <li class="first green"><a href="#">12 November 2011<br>
		  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at enim nibh. Sed consectetur</p></a>
		  </li>
		  <li class="green"><a href="#">12 November 2011<br>
		  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at enim nibh. Sed consectetur</p></a>
		  </li>
		  <li class="green"><a href="#">12 November 2011<br>
		  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at enim nibh. Sed consectetur</p></a>
		  </li>
	  </div>
	  <div id="connect" class="grid_3">
		<p class="title">connect</p>
		<div class="line"></div>
	  </div>
	  <div id="menu" class="grid_2">
		<p class="title">menu</p>
		<div class="line"></div>
		<ul>
		  <li class="first green"><a href="#">Home</a></li>
		  <li><a href="#">About FridayLaundry</a></li>
		  <li><a href="#">Contact Us</a></li>
		  <li><a href="#">Advertise</a></li>
		  <li><a href="#">Privacy</a></li>
		</ul>
	  </div>
	  <div id="guide" class="grid_2">
		<p class="title">the laundry guide</p>
		<div class="line"></div>
		<ul>
		  <li class="first green"><a href="#">How it Works</a></li>
		  <li><a href="#">Report Users</a></li>
		  <li><a href="#">The Blacklist</a></li>
		</ul>
	  </div>
	</div>
	<div id="copyright">
	  &copy; copyright FridayLaundry 2011
	</div>
  </div>
  </footer><!-- END OF FOOTER -->
</div><!-- END OF CONTAINER -->
</body>
</html>
